body {
  background: #222222;
  color: white;
  text-align: right;
  font-family: monospace;
}

a {
  color: red;
}

#main {
  position: absolute; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  margin: auto; 
  height:400px; 
  width:600px;
}

table {
  border: none;
}

.rot0 {
}

.rot1 {
  transform: rotate(90deg);
}

.rot2 {
  transform: rotate(180deg);
}

.rot3 {
  transform: rotate(270deg);
}
