@import url(http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext);

body {
    color: #282a2b;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 22px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.content {
    margin: auto;
    min-width: 400px;
    max-width: 500px;
}

.row {
    padding-top: 40px;
}

.text a:link, .text a:visited, .text a:active, .text a:hover {
    color: red;
}

.big-text {
    font-size: 200%;
}

.links {
    font-size: 48px;
    margin-top: 40px;
    line-height: 2em;
}

a:link, a:visited, a:active, a:hover {
    color: #282a2b;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    text-decoration: none;
}


a:hover {
    color: red;
}
