body {
  background: #141414;
  color: #6340cf;
  font-family: monospace;
  font-size: 14px;
  margin: 20px;
}

a:link, a:visited, a:active, a:hover {
    color: #bfff00;
}

span {
    white-space: nowrap;
}

.hl {
  color: #9370ff;
}

.faded {
  color: #666666;
}
