body
{
    font-family: Segoe, Verdana, Arial, sans-serif; 
    padding-top: 40px;
}

.jumbotron {
    background: #fdf6e3;
}

.jumbotron h1 {
    margin: 0 0 40px 0;
    font-size: 4em;
}

#showcase {
    max-width: 600px;
}

.narrow
{
    margin: auto;
    max-width: 640px;
}

pre
{
    word-break: normal;
    word-wrap: normal;
}

img {
    border: 30px solid black;
    border-radius: 15px;
}

.button {
    background: #008b00;
    height: 80px;
    width: 270px;
    line-height: 20px;
    -moz-box-shadow: 2px 2px 2px black;
    -webkit-box-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black; 
}

.button img {
    float: left;
    height: 50px;
    width: 50px;
    margin: 15px 20px;
    border: none;
}

.button-link {
    text-decoration: none !important;
    color: #fdfcf8 !important;
}

.button .title {
    margin: 0;
    padding: 20px 0 0 90px;
    font-weight: bold;
    font-size: 1.2em;
}

.button .description {
    margin: 0;
    padding: 0;
    padding-left: 90px;
}

h1 a {
    color: #333;
    text-decoration: none;
}

h1 {
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

.text-page {
    margin-top: 40px;
}

ul {
    padding-left: 0;
}
