@import url("font-awesome/font-awesome.min.css");
@import url(http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext);

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: #282a2b;
    height: 200%;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    width: 100%;
}

.page {
    width: 100%;
}

#page1 {
    height: 50%;
    background-color: #f8fafb;
}

#page2 {
    height: 50%;
    background-color: #2980b9;
}

.containerwrap {
    display: table;
    margin: auto;
    height: 100%;
    width: 500px;
}

.container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.comment {
    color: #b8babb;
    font-style: italic;
    margin-left: 20px;
}

.section {
    margin: 20px 0 60px 0;
}

.content {
    border-left: 10px solid red;
    line-height: 2em;
    margin-left: -30px;
    margin-top: 20px;
    padding-left: 20px;
}

a {
    color: #282a2b;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

a:hover {
    color: red;
}

.grid {
    margin-top: 20px;
}

.grid-column {
    display:inline;
    float: left;
    position: relative;
    width: 25%;
}

.grid-column > a {
    text-decoration: none;
}

span.button {
    font-family: "FontAwesome";
    font-size: 4em;
}

#bunny {
    color: white;
    font-size: 6em;
    text-align: center;
}

/* High DPI */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-resolution: 192dpi)
{
    body { 
        font-size: 2em;
    }

    .containerwrap {
        min-width: 800px; 
    }

    .section {
        margin: 40px 0 120px 0;
    }

    .content {
        border-left: 30px solid red;
        margin-left: -60px;
        margin-top: 40px;
        padding-left: 30px;
    }
}
